.create-set__form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px;
    gap: 15px;
}

.button {
    margin-top: 10px;
    padding: 15px;
}

label textarea,
label input {
    margin-left: 10px;
}