$btn-color: red ;

.set-list {
    align-items: flex-start;
    margin-left: 400px;
}

.list-set__item {
    list-style: none;
    
}

.list-set__btn {
    text-decoration: none;
    border: none;
    margin: 5px;
    padding: 10px;
    background-color: lavender;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    color: $btn-color;
}

.list-set__btn:hover,
.list-set__btn:focus {
    transform: scale(1.1);
    color:$btn-color;
    transition: 0.3s ease;
}